{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>About Us</h2>
                    <div class="page_link">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'about' %}">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Home Banner Area =================-->
<section class="profile_area">
    <div class="container">
        <div class="profile_inner p_120">
            <div class="row">
                <div class="col-lg-5">
                    <img class="img-fluid" src="{{ user.profile_image.url }}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="personal_text">
                        <h6>Hello Everybody, I am</h6>
                        <h3>{{ user.name }}</h3>
                        <h4>{{ user.title }}</h4>
                        <p>{{ user.about }}</p>
                        <ul class="list basic_info">
                            <li><a href="#"><i class="lnr lnr-calendar-full"></i> {{ user.date_of_birth }}</a></li>
                            <li><a href="#"><i class="lnr lnr-phone-handset"></i> {{ user.phone }}</a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> {{ user.contact_email }}</a></li>
                            <li><a href="#"><i class="lnr lnr-home"></i> {{ user.location }}</a></li>
                        </ul>
                        <ul class="list personal_social">
                            <li><a href="https://github.com/Samandar2005" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/samandar-bo-riyev-612250266/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://t.me/BoriyevSamandar"><i class="fa fa-telegram" target="_blank"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>About Myself</h4>
                    <p>{{ user.about }}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-checkmark-circle"></i>
                                <h4>{{ user.completed_tasks }}</h4>
                                <p>Completed Tasks</p>
                            </div>
                        </div>
                        <div class="col-md-4" >
                            <div class="wel_item">
                                <i class="lnr lnr-code"></i>
                                <h4>{{ user.open_source_projects }}</h4>
                                <p >OS Projects</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-briefcase"></i>
                                <h4>{{ user.years_of_experience }}</h4>
                                <p>Years Exp</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <div class="skill_main">
                        {% for skill in skills %}
                        <div class="skill_item">
                            <h4>{{ skill.skill_name }} <span class="counter">{{ skill.proficiency }}</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.proficiency }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Testimonials</h2>
            <p>Our clients' feedback speaks volumes about the quality and impact of our work. See what they have to say about their experience working with me.</p>
        </div>
        <div class="testi_inner">
            <div class="testi_slider owl-carousel">
                {% for testimonial in testimonials %}
                <div class="item">
                    <div class="testi_item">
                        <p>{{ testimonial.content }}</p>
                        <h4>{{ testimonial.client_name }}</h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->

{% endblock %}
