<footer class="footer_area p_120">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-5 col-sm-12">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h3>About Me</h3>
                    </div>
                    <p>{{ user.about }}</p>
                </aside>
            </div>
            <div class="col-lg-5 col-sm-12">
                <aside class="f_widget news_widget">
                    <div class="f_title">
                        <h3>Stay Connected with Us</h3>
                    </div>
                    <p>Get exclusive updates, news, and insights delivered directly to your inbox.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Enter email address" required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                            </div>
                        </form>
                    </div>
                </aside>
            </div>
            <div class="col-lg-2 col-sm-12">
                <aside class="f_widget social_widget">
                    <div class="f_title">
                        <h3>Follow Me</h3>
                    </div>
                    <p>Let us be social</p>
                    <ul class="list d-flex justify-content-center">
                        <li><a href="https://github.com/Samandar2005" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/samandar-bo-riyev-612250266/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://t.me/BoriyevSamandar" target="_blank"><i class="fa fa-telegram"></i></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>
