	{% extends 'base.html' %}
	{% block content %}
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>Services</h2>
							<div class="page_link">
								<a href="{% url 'index' %}">Home</a>
								<a href="{% url 'services' %}">Services</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>offerings to my clients</h2>
        			<p>My professional services span across multiple areas, from design and development to data analytics and more. With years of experience, I help my clients achieve their goals by providing high-quality solutions tailored to their needs.</p>
        		</div>
        		<div class="feature_inner row">
					 {% for service in services %}
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
							<img style="height: 200px" src="{{ service.service_image.url }}" alt="{{ service.title }}" class="service-icon">
        					<h4>{{ service.title }}</h4>
        					<p>{{ service.description }}</p>
        				</div>
        			</div>
					{% endfor %}

        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials</h2>
        			<p>Our clients' feedback speaks volumes about the quality and impact of our work. See what they have to say about their experiences working with us.</p>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">
						 {% for testimonial in testimonials %}
						<div class="item">
							<div class="testi_item">
								<p>{{ testimonial.content }}</p>
								<h4>{{ testimonial.client_name }}</h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
						</div>
						{% endfor %}
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->

	{% endblock %}